.angular
.dockerignore
**/.env
.git
.gitattributes
.github
.history
.idea
*.log
*.md
.vscode
builds
deploy
dev
Dockerfile
dist
!dist/packages/web
**/dist
!dist/packages/web/**
docs
**/node_modules